In [1]:
# We use statistics in a lot of different ways in data science, and on this lecture, I want to refresh your
# knowledge of hypothesis testing, which is a core data analysis activity behind experimentation. The goal of
# hypothesis testing is to determine if, for instance, the two different conditions we have in an experiment 
# have resulted in different impacts

# Let's import our usual numpy and pandas libraries
import numpy as np
import pandas as pd

# Now let's bring in some new libraries from scipy
from scipy import stats

In [2]:
# Now, scipy is an interesting collection of libraries for data science and you'll use most or perpahs all of
# these libraries. It includes numpy and pandas, but also plotting libraries such as matplotlib, and a
# number of scientific library functions as well

In [3]:
# When we do hypothesis testing, we actually have two statements of interest: the first is our actual
# explanation, which we call the alternative hypothesis, and the second is that the explanation we have is not
# sufficient, and we call this the null hypothesis. Our actual testing method is to determine whether the null
# hypothesis is true or not. If we find that there is a difference between groups, then we can reject the null
# hypothesis and we accept our alternative.

# Let's see an example of this; we're going to use some grade data
df=pd.read_csv ('grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [4]:
# If we take a look at the data frame inside, we see we have six different assignments. Lets look at some
# summary statistics for this DataFrame
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [5]:
# For the purpose of this lecture, let's segment this population into two pieces. Let's say those who finish
# the first assignment by the end of December 2015, we'll call them early finishers, and those who finish it 
# sometime after that, we'll call them late finishers.

early_finishers=df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [6]:
# So, you have lots of skills now with pandas, how would you go about getting the late_finishers dataframe?
# Why don't you pause the video and give it a try.

In [7]:
# Here's my solution. First, the dataframe df and the early_finishers share index values, so I really just
# want everything in the df which is not in early_finishers
late_finishers=df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [8]:
# There are lots of other ways to do this. For instance, you could just copy and paste the first projection
# and change the sign from less than to greater than or equal to. This is ok, but if you decide you want to
# change the date down the road you have to remember to change it in two places. You could also do a join of
# the dataframe df with early_finishers - if you do a left join you only keep the items in the left dataframe,
# so this would have been a good answer. You also could have written a function that determines if someone is
# early or late, and then called .apply() on the dataframe and added a new column to the dataframe. This is a
# pretty reasonable answer as well.

In [9]:
# As you've seen, the pandas data frame object has a variety of statistical functions associated with it. If
# we call the mean function directly on the data frame, we see that each of the means for the assignments are
# calculated. Let's compare the means for our two populations

print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

In [10]:
# Ok, these look pretty similar. But, are they the same? What do we mean by similar? This is where the
# students' t-test comes in. It allows us to form the alternative hypothesis ("These are different") as well
# as the null hypothesis ("These are the same") and then test that null hypothesis.

# When doing hypothesis testing, we have to choose a significance level as a threshold for how much of a
# chance we're willing to accept. This significance level is typically called alpha. #For this example, let's
# use a threshold of 0.05 for our alpha or 5%. Now this is a commonly used number but it's really quite
# arbitrary.

# The SciPy library contains a number of different statistical tests and forms a basis for hypothesis testing
# in Python and we're going to use the ttest_ind() function which does an independent t-test (meaning the
# populations are not related to one another). The result of ttest_index() are the t-statistic and a p-value.
# It's this latter value, the probability, which is most important to us, as it indicates the chance (between
# 0 and 1) of our null hypothesis being True.

# Let's bring in our ttest_ind function
from scipy.stats import ttest_ind

# Let's run this function with our two populations, looking at the assignment 1 grades
ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.322354085372139, pvalue=0.1861810110171455)

In [11]:
# So here we see that the probability is 0.18, and this is above our alpha value of 0.05. This means that we
# cannot reject the null hypothesis. The null hypothesis was that the two populations are the same, and we
# don't have enough certainty in our evidence (because it is greater than alpha) to come to a conclusion to
# the contrary. This doesn't mean that we have proven the populations are the same.

In [12]:
# Why don't we check the other assignment grades?
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In [13]:
# Ok, so it looks like in this data we do not have enough evidence to suggest the populations differ with
# respect to grade. Let's take a look at those p-values for a moment though, because they are saying things
# that can inform experimental design down the road. For instance, one of the assignments, assignment 3, has a
# p-value around 0.1. This means that if we accepted a level of chance similarity of 11% this would have been
# considered statistically significant. As a research, this would suggest to me that there is something here
# worth considering following up on. For instance, if we had a small number of participants (we don't) or if
# there was something unique about this assignment as it relates to our experiment (whatever it was) then
# there may be followup experiments we could run.

In [14]:
# P-values have come under fire recently for being insuficient for telling us enough about the interactions
# which are happening, and two other techniques, confidence intervalues and bayesian analyses, are being used
# more regularly. One issue with p-values is that as you run more tests you are likely to get a value which
# is statistically significant just by chance.

# Lets see a simulation of this. First, lets create a data frame of 100 columns, each with 100 numbers
df1=pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.193524,0.934554,0.643957,0.336843,0.854062,0.372943,0.106250,0.936916,0.159647,0.619213,...,0.068644,0.008021,0.880104,0.100903,0.727727,0.056681,0.517531,0.174288,0.389718,0.306339
1,0.474417,0.186308,0.531999,0.801575,0.112861,0.854405,0.271219,0.519668,0.699080,0.325415,...,0.330184,0.245927,0.543708,0.134278,0.207679,0.910234,0.806727,0.084756,0.621793,0.465781
2,0.481296,0.664802,0.119957,0.477905,0.032643,0.843522,0.773228,0.910855,0.788823,0.322438,...,0.758106,0.583144,0.702135,0.504385,0.786469,0.870734,0.457117,0.538026,0.805108,0.090753
3,0.819494,0.767394,0.886341,0.071597,0.152753,0.655100,0.681567,0.825991,0.520189,0.591218,...,0.029134,0.269296,0.286554,0.986588,0.250829,0.532509,0.321532,0.241649,0.568394,0.903310
4,0.630999,0.569491,0.968190,0.351465,0.092697,0.422856,0.629321,0.880716,0.481451,0.650259,...,0.976310,0.795147,0.092240,0.916563,0.718035,0.011155,0.326103,0.105089,0.620102,0.147657

In [15]:
# Pause this and reflect -- do you understand the list comprehension and how I created this DataFrame? You
# don't have to use a list comprehension to do this, but you should be able to read this and figure out how it
# works as this is a commonly used approach on web forums.

In [16]:
# Ok, let's create a second dataframe
df2=pd.DataFrame([np.random.random(100) for x in range(100)])

In [17]:
# Are these two DataFrames the same? Maybe a better question is, for a given row inside of df1, is it the same
# as the row inside df2?

# Let's take a look. Let's say our critical value is 0.1, or and alpha of 10%. And we're going to compare each
# column in df1 to the same numbered column in df2. And we'll report when the p-value isn't less than 10%,
# which means that we have sufficient evidence to say that the columns are different.

# Let's write this in a function called test_columns
def test_columns(alpha=0.1):
    # I want to keep track of how many differ
    num_diff=0
    # And now we can just iterate over the columns
    for col in df1.columns:
        # we can run out ttest_ind between the two dataframes
        teststat,pval=ttest_ind(df1[col],df2[col])
        # and we check the pvalue versus the alpha
        if pval<=alpha:
            # And now we'll just print out if they are different and increment the num_diff
            print("Col {} is statistically significantly different at alpha={}, pval={}".format(col,alpha,pval))
            num_diff=num_diff+1
    # and let's print out some summary stats
    print("Total number different was {}, which is {}%".format(num_diff,float(num_diff)/len(df1.columns)*100))

# And now lets actually run this
test_columns()

Col 22 is statistically significantly different at alpha=0.1, pval=0.0970612963040047
Col 49 is statistically significantly different at alpha=0.1, pval=0.043758843771428094
Col 64 is statistically significantly different at alpha=0.1, pval=0.07074121753567629
Col 67 is statistically significantly different at alpha=0.1, pval=0.04938864704944077
Col 71 is statistically significantly different at alpha=0.1, pval=0.04914158543883711
Col 79 is statistically significantly different at alpha=0.1, pval=0.07188544078893333
Col 85 is statistically significantly different at alpha=0.1, pval=0.07263641259402735
Col 88 is statistically significantly different at alpha=0.1, pval=0.03455903803898927
Col 92 is statistically significantly different at alpha=0.1, pval=0.013341488125981987
Col 96 is statistically significantly different at alpha=0.1, pval=0.015165527749129212
Total number different was 10, which is 10.0%

In [18]:
# Interesting, so we see that there are a bunch of columns that are different! In fact, that number looks a
# lot like the alpha value we chose. So what's going on - shouldn't all of the columns be the same? Remember
# that all the ttest does is check if two sets are similar given some level of confidence, in our case, 10%.
# The more random comparisons you do, the more will just happen to be the same by chance. In this example, we
# checked 100 columns, so we would expect there to be roughly 10 of them if our alpha was 0.1.

# We can test some other alpha values as well
test_columns(0.05)

Col 49 is statistically significantly different at alpha=0.05, pval=0.043758843771428094
Col 67 is statistically significantly different at alpha=0.05, pval=0.04938864704944077
Col 71 is statistically significantly different at alpha=0.05, pval=0.04914158543883711
Col 88 is statistically significantly different at alpha=0.05, pval=0.03455903803898927
Col 92 is statistically significantly different at alpha=0.05, pval=0.013341488125981987
Col 96 is statistically significantly different at alpha=0.05, pval=0.015165527749129212
Total number different was 6, which is 6.0%

In [19]:
# So, keep this in mind when you are doing statistical tests like the t-test which has a p-value. Understand
# that this p-value isn't magic, that it's a threshold for you when reporting results and trying to answer
# your hypothesis. What's a reasonable threshold? Depends on your question, and you need to engage domain
# experts to better understand what they would consider significant.

# Just for fun, lets recreate that second dataframe using a non-normal distribution, I'll arbitrarily chose
# chi squared
df2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=0.0004336486705870589
Col 1 is statistically significantly different at alpha=0.1, pval=0.0003485077802935453
Col 2 is statistically significantly different at alpha=0.1, pval=0.0003393373727797798
Col 3 is statistically significantly different at alpha=0.1, pval=0.0014391221382052109
Col 4 is statistically significantly different at alpha=0.1, pval=9.633338858947451e-05
Col 5 is statistically significantly different at alpha=0.1, pval=0.0006132153845768854
Col 6 is statistically significantly different at alpha=0.1, pval=0.0001644866579438487
Col 7 is statistically significantly different at alpha=0.1, pval=0.0040790630051721595
Col 8 is statistically significantly different at alpha=0.1, pval=0.0017421038376722825
Col 9 is statistically significantly different at alpha=0.1, pval=2.8040822845841216e-06
Col 10 is statistically significantly different at alpha=0.1, pval=0.0008609312556525251
Col 11 is statistically significantly different at alpha=0.1, pval=2.935929086026491e-06
Col 12 is statistically significantly different at alpha=0.1, pval=0.00259276327841159
Col 13 is statistically significantly different at alpha=0.1, pval=0.0009600162662723274
Col 14 is statistically significantly different at alpha=0.1, pval=0.0008190788436414783
Col 15 is statistically significantly different at alpha=0.1, pval=0.003000540010120008
Col 16 is statistically significantly different at alpha=0.1, pval=0.00014059487731173036
Col 17 is statistically significantly different at alpha=0.1, pval=0.00014213311042494362
Col 18 is statistically significantly different at alpha=0.1, pval=0.00467828499783492
Col 19 is statistically significantly different at alpha=0.1, pval=0.007279381927556206
Col 20 is statistically significantly different at alpha=0.1, pval=0.0015767273019383497
Col 21 is statistically significantly different at alpha=0.1, pval=0.0027891398412363652
Col 22 is statistically significantly different at alpha=0.1, pval=0.005549594160681914
Col 23 is statistically significantly different at alpha=0.1, pval=0.0013747695743612993
Col 24 is statistically significantly different at alpha=0.1, pval=0.0004615778655336747
Col 25 is statistically significantly different at alpha=0.1, pval=0.0011722925937430715
Col 26 is statistically significantly different at alpha=0.1, pval=0.00010001959479802276
Col 27 is statistically significantly different at alpha=0.1, pval=0.00267289170417452
Col 28 is statistically significantly different at alpha=0.1, pval=2.4086720809586768e-05
Col 29 is statistically significantly different at alpha=0.1, pval=0.002401217069939237
Col 30 is statistically significantly different at alpha=0.1, pval=0.0009606331821669533
Col 31 is statistically significantly different at alpha=0.1, pval=0.0011278336044854692
Col 32 is statistically significantly different at alpha=0.1, pval=9.990770607862187e-06
Col 33 is statistically significantly different at alpha=0.1, pval=3.778114485874876e-05
Col 34 is statistically significantly different at alpha=0.1, pval=0.0015493055176881542
Col 35 is statistically significantly different at alpha=0.1, pval=0.02707762102682718
Col 36 is statistically significantly different at alpha=0.1, pval=0.0066681044491526675
Col 37 is statistically significantly different at alpha=0.1, pval=0.0006926223556046781
Col 38 is statistically significantly different at alpha=0.1, pval=0.0002304755340874205
Col 39 is statistically significantly different at alpha=0.1, pval=0.00043913020961551877
Col 40 is statistically significantly different at alpha=0.1, pval=0.0017447765203489397
Col 41 is statistically significantly different at alpha=0.1, pval=0.019680261707748052
Col 42 is statistically significantly different at alpha=0.1, pval=0.0002157702816436223
Col 43 is statistically significantly different at alpha=0.1, pval=0.0039610809669800824
Col 44 is statistically significantly different at alpha=0.1, pval=1.3349201164566816e-05
Col 45 is statistically significantly different at alpha=0.1, pval=0.0003373208188159024
Col 46 is statistically significantly different at alpha=0.1, pval=0.005022824495826303
Col 47 is statistically significantly different at alpha=0.1, pval=0.0006973244084475665
Col 48 is statistically significantly different at alpha=0.1, pval=0.0009199454812190078
Col 49 is statistically significantly different at alpha=0.1, pval=0.0003632690646120477
Col 50 is statistically significantly different at alpha=0.1, pval=0.0005804099149834124
Col 51 is statistically significantly different at alpha=0.1, pval=0.0009007556288481169
Col 52 is statistically significantly different at alpha=0.1, pval=0.051403098927682786
Col 53 is statistically significantly different at alpha=0.1, pval=0.0008672043679577169
Col 54 is statistically significantly different at alpha=0.1, pval=0.03756475658645124
Col 55 is statistically significantly different at alpha=0.1, pval=0.0010200249572616283
Col 56 is statistically significantly different at alpha=0.1, pval=8.825266769294334e-05
Col 57 is statistically significantly different at alpha=0.1, pval=0.0002589425619336394
Col 58 is statistically significantly different at alpha=0.1, pval=0.0002679383018509867
Col 59 is statistically significantly different at alpha=0.1, pval=6.045857518534964e-05
Col 60 is statistically significantly different at alpha=0.1, pval=0.0008454361907105137
Col 61 is statistically significantly different at alpha=0.1, pval=0.0055036889777297735
Col 62 is statistically significantly different at alpha=0.1, pval=5.533966973263522e-06
Col 63 is statistically significantly different at alpha=0.1, pval=0.025973606885182902
Col 64 is statistically significantly different at alpha=0.1, pval=0.00035620942305657655
Col 65 is statistically significantly different at alpha=0.1, pval=6.62232594862056e-05
Col 66 is statistically significantly different at alpha=0.1, pval=0.00018149264327695748
Col 67 is statistically significantly different at alpha=0.1, pval=0.005159133953329943
Col 68 is statistically significantly different at alpha=0.1, pval=0.0020814317609098975
Col 69 is statistically significantly different at alpha=0.1, pval=0.0002306330102103363
Col 70 is statistically significantly different at alpha=0.1, pval=0.005868909358102139
Col 71 is statistically significantly different at alpha=0.1, pval=0.005114405349261877
Col 72 is statistically significantly different at alpha=0.1, pval=0.0003258713903810833
Col 73 is statistically significantly different at alpha=0.1, pval=0.003037378612121786
Col 74 is statistically significantly different at alpha=0.1, pval=0.0008684887587379367
Col 75 is statistically significantly different at alpha=0.1, pval=0.01571251461550254
Col 77 is statistically significantly different at alpha=0.1, pval=0.000274315429950948
Col 78 is statistically significantly different at alpha=0.1, pval=0.00020821083655527727
Col 79 is statistically significantly different at alpha=0.1, pval=0.0017101306366591512
Col 80 is statistically significantly different at alpha=0.1, pval=0.005475373092124923
Col 81 is statistically significantly different at alpha=0.1, pval=7.231297421890155e-05
Col 82 is statistically significantly different at alpha=0.1, pval=0.0009098646458480305
Col 83 is statistically significantly different at alpha=0.1, pval=0.00046733582366444734
Col 84 is statistically significantly different at alpha=0.1, pval=0.0033268414273654834
Col 85 is statistically significantly different at alpha=0.1, pval=0.021242656273594757
Col 86 is statistically significantly different at alpha=0.1, pval=0.0008264140670111432
Col 87 is statistically significantly different at alpha=0.1, pval=0.005847417013574972
Col 88 is statistically significantly different at alpha=0.1, pval=0.0005113441959266578
Col 89 is statistically significantly different at alpha=0.1, pval=0.021280422721817877
Col 90 is statistically significantly different at alpha=0.1, pval=0.0033672658636082604
Col 91 is statistically significantly different at alpha=0.1, pval=0.0031891439863262123
Col 92 is statistically significantly different at alpha=0.1, pval=0.0006908418939574825
Col 93 is statistically significantly different at alpha=0.1, pval=5.0302623371280045e-05
Col 94 is statistically significantly different at alpha=0.1, pval=0.0027999222365128365
Col 95 is statistically significantly different at alpha=0.1, pval=0.00989123260118494
Col 96 is statistically significantly different at alpha=0.1, pval=0.0002994970681934933
Col 97 is statistically significantly different at alpha=0.1, pval=0.0001406203759238172
Col 98 is statistically significantly different at alpha=0.1, pval=6.011693997785103e-05
Col 99 is statistically significantly different at alpha=0.1, pval=0.011113959436336996
Total number different was 99, which is 99.0%