In [1]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]

In [2]:
c

46

In [6]:
import re
s='ABCAC'
re.split('A', s)

['', 'BC', 'C']

Consider a string s. We want to find all characters (other than A) which are followed by triple A, i.e., have AAA to the right. We donâ€™t want to include the triple A in the output and just want the character immediately preceding AAA . Complete the code given below that would output the required result.

In [11]:

def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern ='([\w](?=A{3}))'
    for item in re.finditer(pattern, s):
      # identify the group number below.
      result.append(item.group())
      
    return result
result()

['C', 'F', 'B']

In [12]:
import pandas as pd

In [18]:
s=pd.Series([4,7,-5,3],index=['a','b','c','d'])
s2=pd.Series([2,2,4,7,-5,3],index=['a','w','p','b','c','d'])

In [14]:
s

a    4
b    7
c   -5
d    3
dtype: int64

In [15]:
s[0]

4

In [16]:
s.iloc[0]

4

In [17]:
s.index[0]

'a'

In [22]:
s3=s.add(s2)

In [24]:
s3

a     6.0
b    14.0
c   -10.0
d     6.0
p     NaN
w     NaN
dtype: float64

In [25]:
s3['p'] >= s3['a']

False

In [26]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])

In [27]:
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int64

In [30]:
S[1:4]

b    1
c    2
d    3
dtype: int64

In [33]:
import pandas as pd
import numpy as np
record1={'Item':'item_1','Store':'A','Quantity sold':10}
record2={'Item':'item_1','Store':'B','Quantity sold':20}
record3={'Item':'item_1','Store':'C','Quantity sold':np.nan}
record4={'Item':'item_2','Store':'A','Quantity sold':5}
record5={'Item':'item_2','Store':'B','Quantity sold':10}
record6={'Item':'item_2','Store':'C','Quantity sold':15}



df=pd.DataFrame([record1,record2,record3,record4,record5,record6])
df

df.groupby('Item').sum().iloc[0]['Quantity sold']

30.0