In [1]:
import pandas as pd

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [2]:
obj1

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [3]:
obj2

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [4]:
obj3

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [5]:
import math
math.isnan(obj2['California'])

True

In [6]:
obj2['California']==None

False

In [7]:
import pandas as pd
d = {
    '1': 'Alice',
    '2': 'Bob',
    '3': 'Rita',
    '4': 'Molly',
     '5': 'Ryan'
}
S = pd.Series(d)

In [8]:
S

1    Alice
2      Bob
3     Rita
4    Molly
5     Ryan
dtype: object

In [12]:
S.iloc[0:2]

1    Alice
2      Bob
dtype: object

In [13]:
import pandas as pd

record1={'Name':'Dahou','Grade':'1CS','Age':21}
record2={'Name':'Ali','Grade':'2CS','Age':20}
record3={'Name':'Alison','Grade':'1CP','Age':18}

df=pd.DataFrame([record1,record2,record3],
               index=['Person1','Person2','Person3'])
df

           Name Grade  Age
Person1   Dahou   1CS   21
Person2     Ali   2CS   20
Person3  Alison   1CP   18

In [15]:
df=df.rename(mapper=lambda x:x.upper(),axis='columns')
df

           NAME GRADE  AGE
Person1   Dahou   1CS   21
Person2     Ali   2CS   20
Person3  Alison   1CP   18

In [17]:
df[df['AGE']>18]

          NAME GRADE  AGE
Person1  Dahou   1CS   21
Person2    Ali   2CS   20

In [21]:
df.where(df['AGE']>18).dropna()

          NAME GRADE   AGE
Person1  Dahou   1CS  21.0
Person2    Ali   2CS  20.0

In [24]:
df.drop('NAME',axis=1)

        GRADE  AGE
Person1   1CS   21
Person2   2CS   20
Person3   1CP   18

In [25]:
import pandas as pd
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})
s2[1]

2

In [46]:
df

           NAME GRADE AGE
Person1   Dahou   1CS  21
Person2     Ali   2CS  20
Person3  Alison   1CP  18

In [48]:
df.T['Person1']

NAME     Dahou
GRADE      1CS
AGE         21
Name: Person1, dtype: object

In [28]:
s1.loc[1]

'Alice'

In [29]:
s2.iloc[1]

2

In [30]:
s2.loc[1]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>