In [83]:
import pandas as pd

df=pd.read_csv('presidents.csv')
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days"
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days"
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days"
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days"
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days"

In [84]:
#let's add a new column for the first name 

df['Last name']=df['President']
df['Last name']=df['Last name'].replace('[\w]*[ ]','',regex=True)
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,Last name
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",Monroe

In [85]:

# The apply() function on a dataframe will take some arbitrary function you have written and apply it to
# either a Series (a single column) or DataFrame across all rows or columns. Lets write a function which
# just splits a string into two pieces using a single row of data
def splitname(row):
    # The row is a single Series object which is a single row indexed by column values
    # Let's extract the firstname and create a new entry in the series
    row['First']=row['President'].split(" ")[0]
    # Let's do the same with the last word in the string
    row['Last']=row['President'].split(" ")[-1]
    # Now we just return the row and the pandas .apply() will take of merging them back into a DataFrame
    return row

# Now if we apply this to the dataframe indicating we want to apply it across columns
df=df.apply(splitname, axis='columns')
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,Last name,First,Last
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",Washington,George,Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",Adams,John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Jefferson,Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",Madison,James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",Monroe,James,Monroe

__Extract Function__

In [86]:

# Extract takes a regular expression as input and specifically requires you to set capture groups that
# correspond to the output columns you are interested in. And, this is a great place for you to pause the
# video and reflect - if you were going to write a regular expression that returned groups and just had the
# firstname and lastname in it, what would that look like?

# Here's my solution, where we match three groups but only return two, the first and the last name
pattern='(^[\w]*)(?:.* )([\w]*)'

df['President'].str.extract(pattern).head()

        0           1
0  George  Washington
1    John       Adams
2  Thomas   Jefferson
3   James     Madison
4   James      Monroe

In [87]:
#if we want to create a name for the group
pattern='(?P<First>^[\w]*)(?:.* )(?P<Last>[\w]*)'

names=df['President'].str.extract(pattern).head()

In [88]:
df['Last']=names['Last']
df['First']=names['First']
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,Last name,First,Last
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",Washington,George,Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",Adams,John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Jefferson,Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",Madison,James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",Monroe,James,Monroe

In [89]:
pattern='([\w]{3} [\w]{1,2}, [\w]{4})'
df['Born']=df['Born'].str.extract(pattern).head()

In [90]:
#we can convert this to a date using pandas library

df["Born"]=pd.to_datetime(df["Born"])
df['Born']=pd.to_datetime(df['Born'])
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,Last name,First,Last
0,1,George Washington,1732-02-22,"57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",Washington,George,Washington
1,2,John Adams,1735-10-30,"61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",Adams,John,Adams
2,3,Thomas Jefferson,1743-04-13,"57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Jefferson,Thomas,Jefferson
3,4,James Madison,1751-03-16,"57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",Madison,James,Madison
4,5,James Monroe,1758-04-28,"58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",Monroe,James,Monroe

In [91]:
df['Died']=pd.to_datetime(df['Born'])
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,Last name,First,Last
0,1,George Washington,1732-02-22,"57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days",1732-02-22,"67 years, 295 days",Washington,George,Washington
1,2,John Adams,1735-10-30,"61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days",1735-10-30,"90 years, 247 days",Adams,John,Adams
2,3,Thomas Jefferson,1743-04-13,"57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days",1743-04-13,"83 years, 82 days",Jefferson,Thomas,Jefferson
3,4,James Madison,1751-03-16,"57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days",1751-03-16,"85 years, 104 days",Madison,James,Madison
4,5,James Monroe,1758-04-28,"58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days",1758-04-28,"73 years, 67 days",Monroe,James,Monroe

In [92]:
df.columns

Index(['#', 'President', 'Born', 'Age atstart of presidency',
       'Age atend of presidency', 'Post-presidencytimespan', 'Died', 'Age',
       'Last name', 'First', 'Last'],
      dtype='object')

In [93]:
df=df.rename(columns={'Age atstart of presidency':'Age at start of presidency'
                      ,'Post-presidencytimespan':'Presidency timespan'
                     })
df.head()

,#,President,Born,Age at start of presidency,Age atend of presidency,Presidency timespan,Died,Age,Last name,First,Last
0,1,George Washington,1732-02-22,"57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days",1732-02-22,"67 years, 295 days",Washington,George,Washington
1,2,John Adams,1735-10-30,"61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days",1735-10-30,"90 years, 247 days",Adams,John,Adams
2,3,Thomas Jefferson,1743-04-13,"57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days",1743-04-13,"83 years, 82 days",Jefferson,Thomas,Jefferson
3,4,James Madison,1751-03-16,"57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days",1751-03-16,"85 years, 104 days",Madison,James,Madison
4,5,James Monroe,1758-04-28,"58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days",1758-04-28,"73 years, 67 days",Monroe,James,Monroe

In [94]:
pattern1='(?P<Ageatstartofpresidency>.*years)'
pattern2='(?:days)(?P<Date>[\w]{3} [\w]{1,2}, [\w]{4})'
age=df['Age at start of presidency'].str.extract(pattern1).head()
date=df['Age at start of presidency'].str.extract(pattern2).head()
df['Age at start of presidency']=age
df['Date of presidency']=date
df.head()

,#,President,Born,Age at start of presidency,Age atend of presidency,Presidency timespan,Died,Age,Last name,First,Last,Date of presidency
0,1,George Washington,1732-02-22,57 years,"65 years, 10 daysMar 4, 1797","2 years, 285 days",1732-02-22,"67 years, 295 days",Washington,George,Washington,"Apr 30, 1789"
1,2,John Adams,1735-10-30,61 years,"65 years, 125 daysMar 4, 1801","25 years, 122 days",1735-10-30,"90 years, 247 days",Adams,John,Adams,"Mar 4, 1797"
2,3,Thomas Jefferson,1743-04-13,57 years,"65 years, 325 daysMar 4, 1809","17 years, 122 days",1743-04-13,"83 years, 82 days",Jefferson,Thomas,Jefferson,"Mar 4, 1801"
3,4,James Madison,1751-03-16,57 years,"65 years, 353 daysMar 4, 1817","19 years, 116 days",1751-03-16,"85 years, 104 days",Madison,James,Madison,"Mar 4, 1809"
4,5,James Monroe,1758-04-28,58 years,"66 years, 310 daysMar 4, 1825","6 years, 122 days",1758-04-28,"73 years, 67 days",Monroe,James,Monroe,"Mar 4, 1817"

In [95]:
df['Date of presidency']=pd.to_datetime(df['Date of presidency'])

In [96]:
df.head()

,#,President,Born,Age at start of presidency,Age atend of presidency,Presidency timespan,Died,Age,Last name,First,Last,Date of presidency
0,1,George Washington,1732-02-22,57 years,"65 years, 10 daysMar 4, 1797","2 years, 285 days",1732-02-22,"67 years, 295 days",Washington,George,Washington,1789-04-30
1,2,John Adams,1735-10-30,61 years,"65 years, 125 daysMar 4, 1801","25 years, 122 days",1735-10-30,"90 years, 247 days",Adams,John,Adams,1797-03-04
2,3,Thomas Jefferson,1743-04-13,57 years,"65 years, 325 daysMar 4, 1809","17 years, 122 days",1743-04-13,"83 years, 82 days",Jefferson,Thomas,Jefferson,1801-03-04
3,4,James Madison,1751-03-16,57 years,"65 years, 353 daysMar 4, 1817","19 years, 116 days",1751-03-16,"85 years, 104 days",Madison,James,Madison,1809-03-04
4,5,James Monroe,1758-04-28,58 years,"66 years, 310 daysMar 4, 1825","6 years, 122 days",1758-04-28,"73 years, 67 days",Monroe,James,Monroe,1817-03-04

In [97]:
age=df['Age atend of presidency'].str.extract(pattern1).head()
date=df['Age atend of presidency'].str.extract(pattern2).head()
df['Age atend of presidency']=age
df['Date of atend']=date
df.head()

,#,President,Born,Age at start of presidency,Age atend of presidency,Presidency timespan,Died,Age,Last name,First,Last,Date of presidency,Date of atend
0,1,George Washington,1732-02-22,57 years,65 years,"2 years, 285 days",1732-02-22,"67 years, 295 days",Washington,George,Washington,1789-04-30,"Mar 4, 1797"
1,2,John Adams,1735-10-30,61 years,65 years,"25 years, 122 days",1735-10-30,"90 years, 247 days",Adams,John,Adams,1797-03-04,"Mar 4, 1801"
2,3,Thomas Jefferson,1743-04-13,57 years,65 years,"17 years, 122 days",1743-04-13,"83 years, 82 days",Jefferson,Thomas,Jefferson,1801-03-04,"Mar 4, 1809"
3,4,James Madison,1751-03-16,57 years,65 years,"19 years, 116 days",1751-03-16,"85 years, 104 days",Madison,James,Madison,1809-03-04,"Mar 4, 1817"
4,5,James Monroe,1758-04-28,58 years,66 years,"6 years, 122 days",1758-04-28,"73 years, 67 days",Monroe,James,Monroe,1817-03-04,"Mar 4, 1825"

In [98]:
del df['Last name']